$font-primary: 'Arial, sans-serif';
$font-secondary: 'Georgia, serif';

$font-size-sm: 12px;
$font-size-sm-one: 13px;
$font-size-sm-two: 14px;
$font-size-sm-three: 15px;
$font-size-base: 16px;
$font-size-base-one: 17px;
$font-size-base-two: 18px;
$font-size-base-three: 19px;
$font-size-md: 20px;
$font-size-md-one: 21px;
$font-size-md-two: 22px;
$font-size-md-three: 23px;
$font-size-lg: 24px;
$font-size-xl: 32px;
$font-size-xxl: 34px;
$font-size-xxxl: 36px;

$color-yellow:#d49b1d;
$color-grey : #787878;
$color-light-grey : #eaeaea;

$bg-color-gold-dark: #BA8207;
$bg-color-gold-main: #F6B21D;
$bg-color-gold-light: #FAD47F;
$text-color-stone-900: #1B1917;
$text-color-stone-800: #282524;
$text-color-stone-700: #43403C;
$text-color-stone-600: #56534F;
$text-color-stone-500: #77716D;
$text-color-stone-400: #A7A29E;
$text-color-stone-300: #D5D3D1;
$text-color-stone-200: #E7E5E4;
$text-color-stone-100: #F5F5F4;
$text-color-stone-050: #FAFAF9;
$text-color-stone-000: #ffffff;

// Peach/Pink/Purple theme
$soft-peach : #FFE5B4;
$btn-pink-blush : #FFB7C5;
$heading-lavender-purple : #B497BD;
$text-deep-purple : #5D3A66;
$card-bg-light-pink : #FFF0F5;

// Header
$header-light-peach : #FFF1E6;

// Logo
$logo-main-heading : #5D3A66;
$logo-sub-heading : #7C5D8C;

$golden-border : #F7E7CE;

// light pink shades
$section-light-blush: #FFE4E1;
$section-misty-rose: #FFE4E4;
$section-cotton-candy: #FFDDEE;
$section-baby-pink: #FADCD9;
$section-soft-rose: #F9E0E7;
$section-pink-peony: #FDE2E4;